/*************************************
	Author:Michael Strunk
	Based on Tech Academy Template
	General Site Wide Styles
**************************************/
html {
	font-family: fantasy;
	font-size: 62.5%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body{
	font-size: 14px;
	margin: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	line-height: 1.25;
	color: #333;
	background-color: #fff; 
}


h1, h2, h3, h4, h5, h6{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h1{
	line-height: 50px;
	font-weight: 900;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	color: #7e2323;
	text-shadow: 2px 2px 3px #00000088;

}
/*Underline*/
h1:after { 
	display:block;
	content: "";
	height: 2px;
	width: 150px;
	background: #7e2323;
	margin: 5px auto 40px;
	box-shadow: 5px 2px 3px rgba(0,0,0,0.5);
}

h2{
	line-height: 50px;
	color: #7e2323;
}
h3{
	display: none;
	/*
	line-height: 30px;
	padding:0px 0px 20px 0px;
	*/
}

h4{
	padding-top: 20px;
	line-height: 40px;
	padding-bottom: 0px;
	font-size: 22px;
	font-weight: 900;

}

p{
	font-weight: 300;
	line-height: 30px;
	padding-bottom: 15px;
}

.text-center{
	text-align: center;
}
.heading-padding {
	padding-bottom: 40px
}

section {
	padding-top: 50px;
	margin-top: 50px;
}

.navbar{
	height: 105px;
	max-height: 340px;
	display: block;
}
.container{
	padding:0px 15px 0px 15px;
	margin-right: auto;
	margin-left: auto;
}
.container-fluid{
padding:0px 15px 0px 15px;
margin-right: auto;
margin-left: auto;
}
.row {
	margin-right: -15px;
	margin-left: -15px;
  }

.clearfix:after,
.container:after,
.navbar:after {
	clear: both;
	display: table;
	content: " ";
}
.wrap{
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	text-align: center;
}

.menu-container {
max-height: 340px;
margin: 0% auto;
width: 100%;
position: fixed;
z-index: 100;
background: rgb(0, 40, 80);
}

#home{
	background: url(../images/hiking.jpg) no-repeat 50% 50%;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	display: block;
	height: auto;
	padding-top: 350px;
	padding-bottom: 500px;
	color: #fff;
}
.head-main {
	text-shadow: 2px 4px 5px #00000088;
	font-variant: small-caps;
	color: #fff;
	letter-spacing: 5pt ;
	word-spacing: 21pt ;
	font-size: 4.5em;
	text-align: left;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	line-height: 2;
	font-weight: 900;
	border: 5px double white;
	padding: 10px;
}
.heading-sub-main{
	font-size: 23px;
	font-weight: 500;
	padding: 5px 20px 20px 20px;
	text-transform: uppercase;
}
.head-last {
	font-size: 18px;
	font-weight: 900;
	padding: 5px 20px 20px 20px;
	border: 1px dotted #fff;

}

.flex-container {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	border-radius: 8px;
	margin: 0px auto;
	background-color: rgba(139, 139, 139, 0.3);
	box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5);
	max-width: 760px
}
#contact {
background-color: #f5f3f3; 
}


.reservation{
width: 60%;
max-width: 600px;
padding: 10px;
border-radius: 8px;
margin: 0px auto;
background-color: rgba(168, 168, 168, 0.3);
box-shadow: -1px -1px 1px 0 #00000013, 1px 2px 10px 0 rgba(0,0,0,0.5);
}

.reservation h2{
	width: 80%;
	text-align: center;
	margin: 0 auto 50px auto;
	color: #131610;
	font-weight: 500;
	font-size: 1.3em;
	letter-spacing: 0pt;
	word-spacing: 0pt;
	line-height: 30px;
}

.reservation h2 span {
	width: 70%;
	text-align: center;
	margin: 0 auto;
	color: #131610;
	font-weight: 900;
	font-size: 1.5em;
	font-variant: small-caps;
	letter-spacing: .4pt;
	word-spacing: .3pt;
}

.reservation p{
	color: #13161b;
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.reservation form {
	font-size: 15px;
	outline: none;
	font-weight: 600;
	color: #8d8e8f;
	padding: 12px 12px;
	width: 70%;
	border: 1px solid #142414;
	margin: 2% auto;
	border-radius: 7px;
	background: #ffffff;
	box-shadow:  2px 3px 0px 0 rgba(0,0,0,0.3);
	font-family: 'Raleway', sans-serif;

}
.reservation input[type="text"]{
	font-size: 15px;
	outline: none;
	font-weight: 600;
	color: #8d8e8f;
	width: 100%;
	padding: 12px 30px;
	border-top:1px solid #090B0D;
	border-left:1px solid #090B0d;
	border-right:2px solid #424549;
	border-bottom:2px solid #424549;
	margin: 10px 20px 10px 0px;
	border-radius: 7px;
	background: #13161b;
	box-sizing: border-box;
	box-shadow: inset 0px 3px 0px 0px rgba(5,5,5,0.15);
}

.reservation input[type="text"]:hover{
	box-shadow: inset 0px 3px 0px 0px rgba(5,5,5,0.15);
}

.form-spacer{
	padding: 30px 30px;
}

.terms {

	padding-left: 52px;
	padding-right: 30px;
	font-size: 14px;
	line-height: 30px;
	color: #000;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	position: relative;
	display: inline;
	float: right;
}

.terms:hover{
	color:orange;
	text-decoration: underline;
}

.submit input[type='submit']{
color: #ffffff;
cursor: pointer;
border: none;
font-weight: 900;
outline: none;
text-align: center;
font-family: 'Raleway', sans-serif;
margin: 0px 3%;
padding: 7px 0px;
width: 100px;

font-size: 14px;
transition: border-color 0.3s, color 0.3s, background-color 0.3s;
border-radius: 7px;
background-color: #797a7b;
box-shadow:  inset 1px 1px 4px 0 #00000044;
}

.submit input[type='submit']:hover{
	color:#000;
	background-color: #8d8e8f;
	box-shadow: inset 1px 2px 15px 0 rgba(0,0,0,0.5);
}
#footer{
	background-color: rgb(0,20,40);
	color: rgb(255, 255, 255);
	text-shadow:2px 2px 2px 0 (0,0,0,0.4);
	padding: 20px 50px;
	text-align: right;
}


footer, nav{
	display: block;
	}


